<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body layout:fragment="body">

    <div class="px-3">
        <div th:if="${param.success}" class="alert alert alert-success">
            You have been Registered!
        </div>
        <div th:if="${param.login}" class="alert alert alert-success">
            You have been Logged In!
        </div>
    </div>


</body>

</html>