<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body layout:fragment="body">
<section>
    <div class="container">
        <div th:if="${param.error}" class="alert alert alert-danger">
            Invalid login username and/or password
        </div>
        <div th:if="${param.logout}" class="alert alert alert-info">
            You have been logged out
        </div>
        <form class="row g-3" method="post" th:action="@{/login}">
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Username">
            </div>

            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password">
            </div>


            <div class="col">
                <button type="submit" value="Log in" class="btn btn-primary">Login</button>
            </div>

            <div class="col-sm-11 col-12 d-flex align-items-center">
                <a th:href="@{/register}" class=""> Don't have an account? Register Here</a>
            </div>
        </form>
        
    </div>
</section>
</body>
</html>